/* Variables */
:root {
	--dark-gray-color       : #232323;
	--gray-color            : #b3b3b3;;
	--hover-gray-color      : #eeeeee;
	--scarlata-color        : #cc2b53;
	--hover-scarlata-color  : #ee0e46;
	--white-color           : #f8f8f8;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.title-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 10%;
    width: 100%;
    padding: 1em;
}

.title-wrapper #show-it {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: flex;
    justify-content: space-between;
}

.title-wrapper #hide-it {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
}

.title-wrapper h2 {
    color: black;
}

.animal-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
	background: var(--white-color);
	padding: 1em;
	height: 90%;
	width: 100%;
}

.animal-card{
    display: flex;
    align-items: flex-end;
}

.animal-card.ajolote{
    background: url("../images/endemics/Ajolote.jpg") no-repeat; 
    background-size: cover;
}

.animal-card:hover .animal-card__name>h2 {
    display: block;
}

.animal-card__name h2 {
    display: none;
}

#show-it {
    opacity: 0;
    -moz-animation: showIt 5s;
    /* Firefox */
    -webkit-animation: showIt 5s;
    /* Safari and Chrome */
    -o-animation: showIt 5s;
    /* Opera */
    animation: showIt 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes showIt {
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes showIt {
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#hide-it {
    opacity: 1;
    -moz-animation: hideIt 5s;
    /* Firefox */
    -webkit-animation: hideIt 5s;
    /* Safari and Chrome */
    -o-animation: hideIt 5s;
    /* Opera */
    animation: hideIt 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes hideIt {
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes hideIt {
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}